@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.gallary {
    width: 80vw;
    display: flex;
}

.panel {
    flex: 0.5;
    height: 70vh;
    background-size: cover;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: flex 0.7s ease-in;
    -webkit-transition: flex 0.7s ease-in;
    -moz-transition: flex 0.7s ease-in;
    -ms-transition: flex 0.7s ease-in;
    -o-transition: flex 0.7s ease-in;

    h3 {
        position: absolute;
        left: 40px;
        bottom: 40px;
        opacity: 0;
        font-size: 24px;
        margin: 0;
    }
}

.panel.active {
    flex: 5;

    h3 {
        opacity: 1;
        transition: opacity 0.5s ease-in 0.4s;
        -webkit-transition: opacity 0.5s ease-in 0.4s;
        -moz-transition: opacity 0.5s ease-in 0.4s;
        -ms-transition: opacity 0.5s ease-in 0.4s;
        -o-transition: opacity 0.5s ease-in 0.4s;
    }
}